footer {
    background-color: $green;
    padding: 15px 0px;
    p {
        color: $white;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        margin: 0px auto;
    }
}