$blue: rgb(34, 125, 211);
$darkBlue: rgb(28, 105, 178);
$white: rgb(255, 255, 255);
$whiteOpacity: rgba(255, 255, 255, 0.7);
$black: rgb(0, 0, 0);
$lightGrey: rgb(216, 216, 216);
$grey: rgb(125, 125, 125);
$green: rgb(95, 193, 139);
$darkGreen: rgb(68, 163, 111);
$greenHoover: rgb(57, 142, 95);