.with-pc {
    background-color: $darkGreen;
    @media screen and (min-device-width: 721px) {
        padding-top: 200px;
    }
    @media screen and (max-device-width: 720px) {
        padding-top: 100px;
    }
    overflow: hidden;
    .with-image {
        position: relative;
        text-align: center;
        @media screen and (max-device-width: 720px) {
            margin-bottom: 32px;
        }
        img {
            position: relative;
            z-index: 1;
        }
    }
    h2 {
        color: $white;
        font-size: 40px;
        font-weight: 600;
        margin: 0px auto 35px;
        @media screen and (max-device-width: 720px) {
            text-align: center;
        }
    }
    p {
        color: $white;
        font-size: 14px;
        font-weight: 400;
        margin: 0px auto 40px;
    }
    div {
        @media screen and (max-device-width: 720px) {
            text-align: center;
        }
        .button {
            display: inline-block;
            min-width: 200px;
            border: 4px solid $white;
            border-radius: 8px;
            padding: 4px 15px;
            font-size: 28px;
            font-weight: 600;
            color: $white;
            text-align: center;
            @include transition(all, 0.2s, ease);
            &:hover {
                cursor: pointer;
                background-color: $greenHoover;
            }
        }
    }
}