.with-description {
    @media screen and (min-device-width: 721px) {
        padding: 170px 0px 106px;
    }
    @media screen and (max-device-width: 720px) {
        padding: 170px 0px 60px;
    }
    .section {
        @media screen and (max-device-width: 720px) {
            &:not(:last-of-type) {
                margin-bottom: 30px;
            }
        }
        &:first-of-type {
            div {
                background-image: url("../img/document.svg");
            }
        }
        &:last-of-type {
            div {
                background-image: url("../img/picture.svg");
            }
        }
        div {
            padding-left: 124px;
            background-repeat: no-repeat;
            background-position: 0% 50%;
            background-size: 94px auto;
            p {
                &:not(.title) {
                    color: $grey;
                    font-size: 14px;
                    font-weight: 400;
                    margin: 0px auto;
                }
                &.title {
                    color: $black;
                    font-size: 28px;
                    font-weight: 600;
                    margin: 0px auto 14px;
                }
            } 
        }
    }
}