.with-tablets {
    position: relative;
    background-color: $green;
    &:after {
        background: inherit;
        bottom: 0;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        @include transform(skewY(-12deg));
        transform-origin: 100%;
    }
    .section {
        position: relative;
        z-index: 1;
    }
    h2 {
        color: $white;
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        margin: 0px auto 35px;
    }
    p {
        color: $white;
        font-size: 14px;
        font-weight: 400;
        &:not(:last-of-type) {
            margin: 0px auto 40px;
        }
        &:last-of-type {
            margin: 0px auto;
        }
    }
}