@import "_fonts.scss";
@import "_variables.scss";
@import "_mixins.scss";
@import "_animation.scss";
body {
    font-family: "Open Sans", sans-serif;
}
.module {
    display: table;
    width: 100%;
    .internal-module {
        display: table-cell;
        vertical-align: middle;
        height: 100vh;
    }
}
@import "_with-pc.scss";
@import "_with-tablets.scss";
@import "_with-description.scss";
@import "_header.scss";
@import "_with-form.scss";
@import "_footer.scss";